<h3>Check the predicate is Anagram or not</h3>
<form #anagramForm="ngForm" (ngSubmit)="anagramSubmit(anagramForm)">
    <div class="form-group row">
      <label for="subject" class="col-sm-2 col-form-label">Enter A Subject</label>
      <div class="col-sm-4">
        <input type="text" id="subject"
         name="subject" [(ngModel)]="anagram.subject" required #subject="ngModel">
         <div *ngIf="subject.touched && !subject.valid" class="text-danger">subject is required!!</div>
      </div>
    </div>
    <div class="form-group row">
        <label for="predicate" class="col-sm-2 col-form-label">Enter A Predicate</label>
        <div class="col-sm-4">
          <input type="text" id="predicate"
           name="predicate" [(ngModel)]="anagram.predicate" required #predicate="ngModel">
           <div *ngIf="predicate.touched && !predicate.valid" class="text-danger">predicate is required!!</div>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!anagramForm.valid">Find</button>
      </div>
    </div>
</form>

<div class="p-3 mb-2 bg-success text-white col-sm-4" *ngIf="isAnagram==true">{{tempPredicate}} is an Anagram of {{tempSubject}}</div>
<div class="p-3 mb-2 bg-danger text-white col-sm-4" *ngIf="isAnagram==false">{{tempPredicate}} is not an Anagram of {{tempSubject}}</div>